@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    overflow-x: hidden;
    height: 100Vh;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

:root {
    --white: #fff;
    --grey: #ddd;
    --grey1:rgba(221, 221, 221, 0.517);
    --black: #000;
    --black2:rgba(0, 0, 0, 0.399);
    --gold:#ffd700;
    --blue:#0000ff;
    --lightyellow:rgb(249, 249, 193);
    --dark:#000000;
    --black1:#0000007f;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --linear:(to right top, #2ad026, #00d06b, #00cc99, #00c6b8, #22bec6);
}

h1{
    font-size: 5.5rem;
    font-weight: bolder;
    -webkit-background-clip: text;
    font-family: 'Kdam Thmor Pro', sans-serif;
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
}


h2{
    font-size: 40px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h3{
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h4{
    font-size:25px ;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p{
    font-size: 1.8rem;
    line-height: 2.8rem;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--black);
}

ul{
    list-style-type: none;
}








/* ==================== 
    reusable cod start 
   ==================== */

.section {
    padding: 6rem 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fixed{
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 999999999;
    background-color: blue !important;
   
}







/* ==================== 
    end-click start 
==================== */

.end_click{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 9999999;
    text-align: center;
}

.end_click a{
    font-size: 30px;
    color: var(--grey);
}




/* ==================== 
    header start 
   ==================== */

   #header{
       width: 100%;
   }

   .top_section{
       width: 100%;
       padding: 1rem 5rem;
       background-color: var(--white);
       box-shadow: var(--shadow1);
       height: 7.5rem;
   }

   .top_section_1{
       width: 100%;  
       height:5.5rem ;
   }

   /* --------------- top_section_left start ---------------- */

   .top_section_left{
       width: 25%;
   }

   .logo{
       width: 100%;
       text-align:left;
   }

   .logo img{
       height: 5.5rem;
       cursor: pointer;
       
   }


/* --------------- top_section_right start ---------------- */

.top_section_right{
    width: 75%;
}

.top_section_right_1{
    width: 100%;
}

.top_menu_navbar{
    text-align: right;
}

.top_menu_navbar li{
    display: inline-block;
    position: relative;
}

.top_menu_navbar li a{
    padding: 7px 25px;
    display: block;
    text-align: center;
    opacity: 0.7;
    transition: all 0.3s linear;
    line-height: 4rem;
    font-weight: 700;
}

.top_menu_navbar li a:hover{
    opacity: 1;
    color: var(--white);
    background-color: var(--black2);
    
}

.top_menu_navbar_sub{
    top: 54px;
    left: 0;
    position: absolute;
    z-index: 9999999;
    background-color: var(--white);
    padding: 15px;
   display: none;
}

.top_menu_navbar li:hover > ul{
   display: block;
}

.top_menu_navbar_sub li{
    width: 100%;
    display: inline-block;
}

.top_menu_navbar_sub li a{
    display: block;
    padding: 7px 15px;
    line-height: 20px;
    text-align: center;

}



/*..................... header-2 start .................... */

.header-2{
    display: none;
}








/* ==================== 
    banner start 
   ==================== */

   /* #banner{
       width: 100%;
   }

   .banner{
       width: 100%;
       position: relative;
       height: 90vh;
       background-image: url("../images/banner.png");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
    }

   .banner_heading{
       width: 100%;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       padding: 20px 100px;
       
   }

   .banner_heading h1{
       font-weight: bolder;
   } */






/* ==================== 
    main start 
==================== */

#main{
    width: 100%;
    background-color: var(--grey);
}





/* ==================== 
    all-blog start 
==================== */

#all-blog{
    width: 100%;
    box-shadow: var(--shadow1);
}

.all-blog{
    width: 100%;
    padding: 0 5rem;
}

.all_blog_22{
    width: 100%;
    /* background-color: #8B9862; */
}

.all-blog_1{
    width: 100%;
    margin-top: 4rem;
    overflow: hidden;
}

.all-blog_1 .t_ul{
    padding: 2rem;
}

.all-blog_1 .t_ul li{
    position: relative;
    width: 100%;
}

.all-blog_1 .t_ul li ::before{
    width: 8px;
    height: 8px;
    background-color: var(--black);
    position: absolute;
    top: 7px;
    left: -15px;
    content: "";
    border-radius: 50%;
}

.all-blog_1 a{
    color: var(--blue);
}

.all-blog_1 a:hover{
    text-decoration: underline;
}











/* ==================== 
    footer start 
==================== */

button {
  appearance: none;
  border: 0;
  background: transparent;
}
.flex {
  display: flex;
}
.footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer_inner {
  background: var(--light);
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  /* min-height: 100vh; */
}
.container2s {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid var(--dark);
}

input {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bolder;
}

.layout_item ul li {
    margin: 5px 0;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: var(--dark);
}
@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}
form {
  position: relative;
}
svg {
  margin: 0.5rem;
}
.c-2 {
  margin-top: 3.5rem;
}
.footer_copyright {
  color: var(--light);
}

.footer_copyright a{
    text-decoration: underline;
    color: var(--blue);
}

.newsletter input{
    background-color: var(--lightyellow);
    padding: 10px 15px;
}
